# Environment Configuration
# Node Environment Options: 'development', 'production'
NODE_ENV="development"

# The port your server will listen on
PORT="3000"

# Hostname for the server
HOST="localhost"

# Set when deployed publicly, e.g. "https://mysite.com". Informs OAuth client id.
PUBLIC_URL=""

# The SQLite database path. Leave as ":memory:" to use a temporary in-memory database.
# Set to something like db.sqlite to store persistently
DB_PATH=":memory:"   

# Secrets
# Must set this in production. May be generated with `openssl rand -base64 33`
COOKIE_SECRET="sPnkysbrppPpVfZfKLxyr5pYLw5bcvnDacB+1TikWHkV"

# Don't change unless you're working in a different environment than the primary Bluesky network
SUBSCRIPTION_ENDPOINT="wss://bsky.network"

# Set this to the hostname that you intend to run the service at
HOSTNAME="example.com"

# Set this to the DID of the account you'll use to publish the feed
# You can find your accounts DID by going to
# https://bsky.social/xrpc/com.atproto.identity.resolveHandle?handle=${YOUR_HANDLE}
PUBLISHER_DID="did:plc:abcde...."

# Only use this if you want a service did different from did:web
# SERVICE_DID="did:plc:abcde..."

# Delay between reconnect attempts to the firehose subscription endpoint (in milliseconds)
SUBSCRIPTION_RECONNECT_DELAY=3000

# Only use this if you want a service did different from did:web
# SERVICE_DID="did:plc:abcde..."
